*{
    margin: 0;
    padding: 0;
}

.header-area{
    background-image: url('images/dark-sunset.jpg');
    height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items:center;  
    justify-content: center;
}

.header-area h2{
    color: white;
    font-family: tahoma; 
    
}

.child{
    background-image: url('images/child-bg.jpg');
    width: 200px;
}

.second-header{
    background-color: aquamarine;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: cadetblue;
    cursor: pointer;
    font-size: 20px;
}

.second-header:hover{
    font-size: 22px;
    transition: 0.2s;
}

.parent{
    display: flex;
    justify-content: space-between;
}

.child{
    background-image: url('images/child-bg.jpg');
    height: auto;
    width: 24.90%;
    border-radius: 3px;
    background-position: center;
    background-size: cover;
}


.child p{
    font-family: tahoma;
    font-size: 15px;
    text-align: justify;
    padding: 3px;
}

.child, span{
    font-size: 18px;
    
}

.footer-area{
    background-color: brown;
    color: white;
    text-align: center;
    padding: 5px;

}
.footer-area p{
    font-family: tahoma;
    font-size: 17px;
    cursor: pointer;
}
.footer-area p:hover{
    font-size: 20px;
    transition: 0.2s;
}

